@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.homepage-text {
    @apply text-black text-[5.8125vw] text-[800] leading-[6vw];
  }

  .row {
    @apply flex flex-row flex-wrap w-full justify-between;
  }

  .column {
    @apply flex flex-col basis-full flex-1;
  }

  .right__column {
    @apply m-[30px] flex flex-row justify-end items-end;
  }

  .logo {
    @apply text-black text-[30px] font-bold leading-[30px] m-[30px];
  }

  .line {
    @apply block w-[33px] h-[4px] mb-[5px] relative bg-black rounded-[3px] z-10;
  }

  nav {
    @apply flex flex-row flex-wrap w-full;
  }

  /* Homepage Gallery */

  .home__column {
    @apply flex flex-col items-start justify-start;
  }

  .home__column--item {
    @apply w-full relative overflow-hidden h-full mb-[80px];
  }

  .home__overlay {
    @apply w-full h-full absolute top-0 left-0 bg-black opacity-[.5];
  }

  .home__column--content {
    @apply max-w-[370px] flex flex-col items-start justify-start absolute left-[70px] bottom-[70px];
  }

  .home__column--title {
    @apply text-[30px] font-bold text-white leading-[35px] mb-[39px];
  }

  .button__link {
    @apply border-[2px] border-white flex flex-row items-center justify-center relative min-w-[211px] cursor-pointer;
  }

  .link__text {
    @apply text-[17px] leading-[46px] block z-10 text-center font-bold text-white;
  }

/* PORJECT GRID */

.projects__grid {
    display: grid;
    width: 90%;
    margin: 0 auto;
}

.grid__item {
    display: grid;
    margin-top: 100px;
    grid-gap: 1em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 5vw)
}

.grey__box {
    width: 100%;
    height: 100%;
    background: #e3e3e3;
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 6;
    margin-left: 60px;
}

.image__box--one {
    width: 100%;
    height: 100%;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 8;
}

.image__box--one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.text__box--one {
    width: 100%;
    height: 100%;
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 8;
}

.text__box--one h2 {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 3.5vw;
    font-weight: 800;
    line-height: 6vw;
}

.image__box--two {
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 8;
}

.image__box--two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.text__box--two {
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 8;
    margin-top: 13px;
    margin-left: 17px;
}

.text__box--two h2 {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 3.5vw;
    font-weight: 800;
    line-height: 6vw;
}

.text__box--three {
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 11;
    grid-row-end: 12;
    margin-left: 17px;
    z-index: 2;
}

.text__box--three h2 {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 3.5vw;
    font-weight: 800;
    line-height: 6vw;
}

.image__box--three {
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 12;
}

.image__box--three img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.grey__box__bottom {
    width: 100%;
    height: 100%;
    background: #e3e3e3;
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 12;
    z-index: -1;
    margin-top: 40px;
    margin-left: 40px;
}

.project_text {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 4.5vw;
    font-weight: 800;
    line-height: 6vw;
}


/* Footer Section */
.services__section {
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    /* margin-top: 250px;
    margin-bottom: 250px; */
}

.main__service--container {
    width: 100%;
    max-width: 100%;
    padding: 5em;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -ms-flex-pack: flex-start;
}

.footer__hr {
    width: 100%;
}

.footer__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
    /* margin-top: 60px; */
}

.footer__content .col {
    width: 32%;
    flex: 1;
    margin: 3em;
}

.footer__content--heading {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 2.5vw;
    font-weight: 800;
    line-height: 6vw;
}

.footer__content--inner-heading {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.footer__content--inner-paragraph {
    color: #6f6f6f;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 2vh;
}

/* work info */ 
.work__info {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-column-gap: 1.5em;
  padding: 1.25em 0;
  border-bottom: 1px solid rgba(17,20,20,.1);
}

.button__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  content: "";
  border-radius: 50%;
}